---
import MainLayout from "../layouts/main-layout.astro";
// import Button from "../components/button.tsx";
import ButtonLenceria from "../components/buttonLenceria";
import ButtonBikinis from "../components/ButtonBikinis";
import ButtonDis from "../components/buttonDisfraces.tsx";
import { CgChevronLeft } from "react-icons/cg";
import { CgChevronRight } from "react-icons/cg";
import { FaInstagram } from "react-icons/fa";
import Siguenos from "../components/buttonSiguenos";
import Button from "../components/button";

const reviews = [
  {
    img: "./public/icons/icolenceria.png",
    name: "Nattasha Mith",
    review:
      "Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been."
  }
];

const bikini = [
  {
    img: "./public/icons/icobikinis.png",
    name: "Nattasha Mith",
    review:
      "Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been."
  }
];

const disfraces = [
  {
    img: "./public/icons/icolenceria.png",
    name: "Nattasha Mith",
    review:
      "Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been."
  }
];

const clientLogos = [
  {
    img: "./public/promos/promo1.jpeg"
  },
  {
    img: "./public/promos/promo2.jpeg"
  },
  {
    img: "./public/promos/promo3.jpeg"
  },
  {
    img: "./public/promos/promo4.jpeg"
  },
  {
    img: "./public/promos/promo5.jpeg"
  },
  {
    img: "./public/promos/promo6.jpeg"
  },
  {
    img: "./public/promos/promo7.jpeg"
  },
  {
    img: "./public/promos/promo8.jpeg"
  },
  {
    img: "./public/promos/promo9.jpeg"
  },
  {
    img: "./public/promos/promo10.jpeg"
  },
  {
    img: "./public/promos/promo11.jpeg"
  },
  {
    img: "./public/promos/promo12.jpeg"
  },
  {
    img: "./public/promos/promo13.jpeg"
  },
  {
    img: "./public/promos/promo14.jpeg"
  },
  {
    img: "./public/promos/promo15.jpeg"
  },
  {
    img: "./public/promos/promo16.jpeg"
  },
  {
    img: "./public/promos/promo17.jpeg"
  },
  {
    img: "./public/promos/promo18.jpeg"
  },
  {
    img: "./public/promos/promo19.jpeg"
  },
  {
    img: "./public/promos/promo20.jpeg"
  },
  {
    img: "./public/promos/promo21.jpeg"
  },
  {
    img: "./public/promos/promo22.jpeg"
  },
  {
    img: "./public/promos/promo23.jpeg"
  },
  {
    img: "./public/promos/promo24.jpeg"
  },
  {
    img: "./public/promos/promo25.jpeg"
  },
  {
    img: "./public/promos/promo26.jpeg"
  },
  {
    img: "./public/promos/promo27.jpeg"
  }
];
---

<MainLayout title="Tentacion">
  <!-- About Section -->

  <figure
    class="w-full lg:min-h-[110vh] flex items-center justify-center box-border"
  >
    <video muted autoplay loop width="1920" height="1080">
      <source src="./src/assets/bannervideo.mp4" type="video/mp4" />
    </video>
  </figure>

  <Button />
  <!-- What People Think About Us Section -->

  <h2
    class="font-dm tracking-wide text-center leading-[37px] lg:leading-[62.50px] text-[22px] lg:text-[60px] md:text-[40px] w-full lg:max-w-[50%] pb-9 mx-auto text-text-blue lg:pt-[100px] pt-10 flex flex-col items-center justify-center"
  >
    Ponte feliz, porque regia ya estas.
    <img
      src="./src/assets/logoonly.png"
      alt="iconologo"
      class="w-60 h-30 lg:w-[380px] lg:h-30 lg:bg-cover"
    />
  </h2>

  <section
    class="lg:max-w-[1200px] px-12 xl:px-0 w-full mx-auto lg:pt-[20px] lg:flex rounded-xl mb-10 lg:mb-20"
  >
    <div
      class="w-full flex flex-col rounded-[48px] px-6 py-[40px] justify-center items-center"
    >
      <h2
        class="font-dm tracking-wide text-center leading-[37px] lg:leading-[62.50px] text-[50px] lg:text-[50px] w-full lg:max-w-[50%] pb-9 mx-auto text-text-blue"
      >
        Lencería
      </h2>
      <div class="flex flex-col gap-8 lg:gap-10 lg:flex-row">
        {
          reviews.map((rev) => {
            return (
              <div class="w-full max-w-[370px] rounded-4xl mx-auto flex flex-col justify-center gap-4 md:gap-6">
                <div class="flex flex-col sm:flex-row gap-6 items-center">
                  <img
                    src={rev.img}
                    alt="iconolenceria"
                    class="w-full h-full object-cover object-center"
                  />
                </div>
              </div>
            );
          })
        }
      </div>
      <div class="flex items-center justify-center pt-10">
        <ButtonLenceria text="Más Lencería" />
      </div>
    </div>

    <div class="w-full flex flex-col rounded-[48px] px-6 py-[40px]">
      <h2
        class="font-dm tracking-wide text-center leading-[37px] lg:leading-[62.50px] text-[50px] lg:text-[50px] w-full lg:max-w-[50%] pb-9 mx-auto text-text-blue"
      >
        Bikinis
      </h2>
      <div class="flex flex-col gap-8 lg:gap-10 lg:flex-row">
        {
          bikini.map((rev) => {
            return (
              <div class="w-full max-w-[370px] rounded-4xl mx-auto flex flex-col justify-center gap-4 md:gap-6">
                <div class="flex flex-col sm:flex-row gap-6 items-center">
                  <img
                    src={rev.img}
                    alt="iconobikinis"
                    class="w-full h-full object-cover object-center"
                  />
                </div>
              </div>
            );
          })
        }
      </div>
      <div class="flex items-center justify-center pt-10">
        <ButtonBikinis text="Más bikinis" />
      </div>
    </div>

    <div class="w-full flex flex-col rounded-[48px] px-6 py-[40px]">
      <h2
        class="font-dm tracking-wide text-center leading-[37px] lg:leading-[62.50px] text-[50px] lg:text-[50px] w-full lg:max-w-[50%] pb-9 mx-auto text-text-blue"
      >
        Disfraces
      </h2>
      <div class="flex flex-col gap-8 lg:gap-10 lg:flex-row">
        {
          disfraces.map((rev) => {
            return (
              <div class="w-full max-w-[370px] rounded-4xl mx-auto flex flex-col justify-center gap-4 md:gap-6">
                <div class="flex flex-col sm:flex-row gap-6 items-center">
                  <img
                    src={rev.img}
                    alt="iconodisfrases"
                    class="w-full h-full object-cover object-center"
                  />
                </div>
              </div>
            );
          })
        }
      </div>
      <div class="flex items-center justify-center pt-10">
        <ButtonDis text="Más Disfraces" />
      </div>
    </div>
  </section>

  <section
    class="w-full bg-[#f6ebdd]/20 h-full lg:min-h-[110vh] px-12 xl:px-40 flex flex-col lg:flex-row items-center justify-evenly mb-10"
  >
    <div
      class="lg:max-w-[800px] w-full mx-auto flex flex-col lg:px-5 py-4 px-4"
    >
      <p class="flex items-center gap-4 font-jost text-xl text-[#7e0000]">
        <FaInstagram className="text-[#7e0000]" />
        Instagram
      </p>

      <p
        class="text-[25px] lg:text-[30px] leading-[50px] md:text-[60px] xl:text-[50px] pb-4 font-dm md:leading-[75.25px] w-full xl:max-w-[50%] text-text-blue"
      >
        Síguenos en Instagram @tentacion.moda.intima
      </p>

      <p
        class="font-jost text-[16px] lg:text-[80px] leading-[30px] md:text-[20px] xl:text-[22px] pb-10 w-full xl:max-w-[60%] text-text-blue"
      >
        Lenceria, bikinis, disfraces en todas las tallas. Visitanos en nuestras
        tiendas de Sullana, Piura. Mira nuestro catálogo ¡Y nuestras secciones!
        Salen  productos con grandes precios. ¡Descuentos!
      </p>

      <div class="pb-20">
        <Siguenos text="SÍGUENOS" />
      </div>
    </div>
    <div
      class="w-[90vw] lg:flex items-center justify-center lg:w-[1000] lg:h-[700] pb-20"
    >
      <img
        src="/src/assets/collageimg.jpeg"
        alt="imagencollage"
        class="w-full lg:h-[650px] object-cover object-center rounded-md"
      />
    </div>
  </section>

  <section
    class="lg:max-w-[1300px] lh-100 px-3 xl:px-20 w-full mx-auto pb-[100px] lg:pt-[10px] rounded-xl"
  >
    <h2
      class="font-dm tracking-wide text-center leading-[37px] lg:leading-[62.50px] text-[30px] lg:text-[50px] w-full lg:max-w-[50%] mx-auto text-[#7e0000]"
    >
      Conoce nuestros nuevos modelos
    </h2>
    <h2
      class="font-jost tracking-wide text-center leading-[37px] lg:leading-[62.50px] text-[20px] lg:text-[30px] w-full lg:max-w-[50%] pb-9 mx-auto text-text-blue lg:pt-[5px] pt-5 flex flex-col items-center justify-center"
    >
      Prendas nuevas, No te quedes sin la tuya.
    </h2>
    <div
      class="w-full h-100 flex flex-row justify-between items-center gap-12 max-w-[1200px] overflow-x-scroll no-scrollbar rounded-xl"
    >
      <CgChevronRight className="absolute text-6xl right-3 text-text-blue/30" />
      {
        clientLogos.map((logo) => (
          <img
            src={logo.img}
            alt="imagenespromocion"
            class="object-contain object-center h-80"
          />
        ))
      }
      <CgChevronLeft className="absolute text-6xl left-1 text-text-blue/30" />
    </div>
  </section>
</MainLayout>

<style>
  /* .imagen-principal{
		mask-image: linear-gradient(black 75%, transparent);
	} */

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
